*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
}
.container{
    background-image: url(https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif);
    color: white;
}